<img width="50%" alt="Angular Logo" style="float: right;
padding-left: 5vw; padding-right: 5vw; padding-bottom: 5vh;" src="/assets/dawnPic.jpeg"/>
<h1 class="heading">Leave Me A Message!</h1>
<form (ngSubmit)="onSubmit()" class="example-form" action="https://formspree.io/xqkbwypj" method="POST" #myForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" name="name" matInput placeholder="Placeholder" required [(ngModel)]="name">
    <mat-icon matSuffix>emoji_emotions</mat-icon>
    <mat-hint>First and Last Name</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Your eMail</mat-label>
    <input matInput type="email" name="_replyto" placeholder="Placeholder" required [(ngModel)]="email">
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint>Your eMail address</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <input matInput type="text" name="number" placeholder="Placeholder" required [(ngModel)]="number">
    <mat-icon matSuffix>phone</mat-icon>
    <mat-hint>Include area code</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Message</mat-label>
    <input matInput type="text" name="content" #message maxlength="256" placeholder="Ex. I need help with..." [(ngModel)]="content">
    <mat-icon matSuffix>chat</mat-icon>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>
  <p>
    <button mat-raised-button color="primary">Submit</button>
  </p>
  
</form>