<h2>CONTACT INFORMATION</h2>
<p>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Date of Birth</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Height</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Weight</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>State</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Zip</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Phone Number(Cell)</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Phone Number(Home)</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>eMail</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>&nbsp;
</p>
<h2>EMERGENCY CONTACT</h2>
<p>
<mat-form-field appearance="fill">
  <mat-label>Name</mat-label>
  <input matInput placeholder="Placeholder">
</mat-form-field>&nbsp;
<mat-form-field appearance="fill">
  <mat-label>Phone Number</mat-label>
  <input matInput placeholder="Placeholder">
</mat-form-field>&nbsp;
<mat-form-field appearance="fill">
  <mat-label>Relathionship</mat-label>
  <input matInput placeholder="Placeholder">
</mat-form-field>&nbsp;
</p>
<h2>HEALTH HISTORY</h2>
<h3>THE FOLLOWING ARE A LIST OF THOSE WHO CAN NOT PARTICIPATE IN LYMPHATIC THERAPY. PLEASE
  CHECK ANY THAT APPLY TO YOU AND CONTACT US TO MAKE OTHER SCHEDULING ARRANGEMENTS:</h3>
<section class="example-section">
  <mat-checkbox class="example-margin" >PREGNANT</mat-checkbox>
  <mat-checkbox class="example-margin" >PACEMAKER</mat-checkbox>
  <mat-checkbox class="example-margin" >ACUTE</mat-checkbox>
  <mat-checkbox class="example-margin" >INFECTION</mat-checkbox>
  <mat-checkbox class="example-margin" >IMMUNOSUPPRESSANTS</mat-checkbox>
</section>
<!--
HAVE YOU HAD SURGERY RECENTLY? IF SO, PLEASE DESCRIBE THE TYPE OF PROCEDURE PERFORMED.

HAVE YOU BEEN DIAGNOSED WITH LYMPHEDEMA? IF SO, PLEASE DESCRIBE THE EXTREMITIES THAT ARE
AFFECTED.

HAVE YOU EVER HAD SURGERY ON YOUR ABDOMEN, CHEST OR BACK? IF SO, PLEASE DESCRIBE THE
TYPE OF PROCEDURE PERFORMED.
HAVE YOU HAD LYMPH NODES REMOVED? IF YES, PLEASE DESCRIBE HOW MANY AND THE LOCATION
OF REMOVAL.

IS THERE ANYTHING ELSE THAT WE SHOULD KNOW BEFORE BEGINNING LYMOHATIC THERAPY (ANY
PAIN, TENDERNESS, OTHER MEDICAL CONDTIONS, ETC.):

CLIENT'S SIGNATURE: __________________________________
DO YOU HAVE ANY PHARMACEUTICAL AND ENVIRONMENTAL ALLERGIES? IF SO, PLEASE LIST THEM:
______________________________________________________________________________________
______________________________________________________________________________________

*IN PREPARATION OF YOUR LYMPHATIC THERAPY SESSION - PLEASE REFRAIN FROM WEARING ANY LOTIONS
AND DEODORANT. BE SURE TO HYDRATE THE DAY BEFORE THERAPY AND THE DAY OF THERAPY & WEAR
COTTON UNDERWEAR IF POSSIBLE.
VEGAN VEGETARIAN RAW DIET PESCATARIAN LOW CARB/KETO OTHER:
DIETSTYLE PREFERENCES:

______________

LIFESTYLE

TYPES OF STRESS: FAMILY WORK FINANCES HOME CIVIC OTHER: ______________
1 2 3 4 5 6 7 8 9 10
STRESS SCALE | 1 = NO STRESS, 10 = EXTREME STRESS

TYPE OF PAIN & LOCATION: _______________________________________________________________________
1 2 3 4 5 6 7 8 9 10
PAIN SCALE | 1 = NO PAIN, 10 = EXTREME PAIN

1 2 3 4 5 6 7 8 9 10
ENERGY SCALE | 1 = NO ENERGY, 10 = GREAT ENERGY
ARE YOU CURRENTLY UNDER THE CARE OF A HEALTH PROFESSIONAL, IF SO PLEASE LIST THEIR NAME:
______________________________________________________________________________________
______________________________________________________________________________________
ARE YOU CURRENTLY TAKING ANY MEDICATION(S)? IF SO, PLEASE LIST BELOW:
______________________________________________________________________________________
______________________________________________________________________________________

NOTICE OF PRIVACY PRACTICES

NAME OF PRACTICE: ______________________________________________________
The Department of Health and Human Services has established a “Privacy Rule” to help insure that personal
health care information is protected for privacy. The Privacy Rule was also created in order to provide a standard
for certain health care providers to obtain their client’s consent for uses and disclosures of health information
aboutthe clientto carry outtreatment, payment or health care operations. As our client, we want you to know that
we respect the privacy of your personal medicalrecords and that we will do all we can to secure and protect that
privacy. We strive to always take reasonable precautions to protect your privacy. When it is appropriate and
necessary, we provide the minimum necessary information to only those we feel are in need of your health care
information and information about treatment, payment or health care operations, in orderto provide health care
thatis in your bestinterest.

We also want you to know that we support yourfull access to your personal medicalrecords. We may have indirect
treatmentrelationships with you (such as laboratories that only interact with physicians and not clients), and may
have to disclose personal health information for purposes oftreatment, payment or health care operations. These
entities are most often notrequired to obtain patient consent. You may refuse to consentto the use or disclosure
of your personal health information, butthis must be in writing.

Receipt ofNotice of Privacy Practices Written Acknowledgement Form
I,(ClientName)_____________________________, have received and reviewed a copy of
RIGHTWAYHEALTHAND WELLNESSNotice of Privacy Practices.

Signature of Client orGuardian:________________________________________Date:______________________

I, _______________________________________________, hereby acknowledge under oath that I am the Client of
Rightway Health and Wellness, LLC and I hereby give my permission to participate in Lymphatic Therapy, ZYTO,
MIGUN,BIA,HRV, and Infrared Sauna and any other services offered byRightwayHealth and Wellness, LLC.
As an integral part of such permission, Irecognize that Lymphatic Therapy is a naturalist, experimental, alternative
procedure whose purpose is notin diagnosing, healing, or curing; butto help promote good health and well-being.
Therefore, I hereby agree to hold RightwayHealth and Wellness, LLC harmless from and against any and all claims,
demands, liabilities, actions, causes of actions, damages and/or expenses, of any nature and kind without
limitation, arising from my direct orindirect participation in any ofthe aforementioned therapies.
I hereby acknowledge thatI assume the risk of any and I will assume all damages if ever needed. I waive any cause
of action thatI might have at any time against Rightway Health and Wellness, LLC orthatI mightthereafter accrue
as a result of any therapeutic services.
I have had an opportunity to review this waiver and ask any question concerning its meaning orintent. I verify that
I have read this entire document, have had reasonable opportunity to ask questions concerning its application,
understand its contents, and acknowledge that the various information provided throughout this document is
accurate and complete.
I further acknowledge and verify that I have full legal authority to execute this document and there are no
requirements, conditions, or obligations, legal or otherwise, which would require the consent or assent of any
other person or entity.

Signed this the __________day of___________________, 20_____.
Signature______________________________________________________________________
PrintedName_________________________________________________________________
-->
