.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.imging {
  max-width: auto;
  max-height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.nav-button {
  width: 100%;
}

.logo:focus {
  outline: none;
}

.logo:hover{
  cursor: pointer;
}
