
<h1>What is the Lymphatic System?</h1>
<p>
  Perhaps the most under-studied and least understood system in the body is
  the lymphatic system. The lymphatic system is a network of tissues and organs including lymphatic vessels, lymph, lymphatic tissue, the spleen, thymus, tonsils, and bone marrow. It works in conjunction with the circulatory system helping rid the body of toxins, waste and other unwanted materials by transporting lymph, a fluid containing infection-fighting white blood cells.
  In addition to removing waste from every cell in your body, it plays a
  primary role in the immune system as the primary site for T-cell and B-cell
  activity as antigens are detected. This vital system is also a critical component to
  proper cellular nutrition by absorbing and transporting fatty acids and fats from
  the digestive system. When your lymphatic system is not functioning properly
  due ot congestion, the cells quickly become malnourished creating the ideal environment for disease to take over. Understanding the lymphatic system
  provides insights intothe body's profound ability to care for itself.
</p>
<h1>HOW DOES IT GET CONGESTED?</h1>
<p>
  Stagnation and congestion of the lymphatic system can occur for many reasons including, but not limited to:
  <b>
    <li>Lack of physical activity</li>
    <li>Emotional stress / trauma</li>
    <li>Poordiet</li>
    <li>Hormone imbalance</li>
    <li>Exposure to environmental toxins</li>
    <li>Excessive weight</li>
    <li>Tight undergarments</li>
    <li>Aging body</li>
    <li>Damage or removal of lymph nodes</li>
  </b>
  <br>When lymphatic circulation slows down, poor circulation and chronic inflammation can result. This condition allows toxins and proteins to accumulate around
  the cells, causing cellular oxygenation to decrease, tissue regeneration to diminish and a further impedance to healthy immune function
</p>
<h1>WHY IS CONGESTION A PROBLEM?</h1>
<p>
  Your lymphatic system can be compared to a freeway. When congested, nothing moves. The same thing can happen in your body. When the lymph fails to function properly and the collecting terminals become blocked, it forms a bottleneck. The lymph starts backing up creating a toxic, oxygen-deprived environment conducive to degeneration and disorder. The clear lymph fluid becomes sluggish or even stagnant, changing from a condition like water, to milk to yogurt to cottage cheese. Thickened, gel-like stagnant lymph overloaded with toxic waste is the ideal environment for the onset of numerous conditions ranging from chronic inflamationammation to cancer.
</p>
  <!--
<h1>MLT:</h1>
<h3>MANUAL LYMPHATIC THERAPY</h3>
<p>
  Traditional Manual Lymph Therapy si a technique which uses four types of pressure and motion techniques applied with the hands to help stimulate proper lymphatic fluid flow and drainage. The primary purpose for MLT si to treat lymph- edema patients. This technique was developed ni the 1930's by Dr. Emil Vodder, which mainly addresses the superficial lymphatic system. The therapy si practiced in clinics and hospitals al over the world by trained therapists.
</p>
<h3>SHORTCOMINGS</h3>
<p>
  Manual lymphatic therapy technique is very time consuming (3-4 hours a day) and involves manual massage in conjunction with compression bandaging and compression garments. Clients must commit to daily sessions and a lifetime commitment of wearing compression garments ni orderfor the therapy to be effective. If compression si not applied properly ti can result
  in necrosis of the tissue and exacerbate the problem to a more serious level of lymphedema. With this technique the client is responsible for re-wrapping and applying compression
  garments themselves which can result ni a worsening of the condition or even permanent damage.
  As a lymphedema specialist I have witnessed the frustra- tion ofmany clients with this technique, to the point of abandonment of the therapy!
</p>
-->
<h1>ALT:</h1>
<h3>ASSISTED LYMPHATIC THERAPY</h3>
<p>
  Assisted Lymphatic Therapy (ALT) combines the general technique of MLT with a hand held device designed to stimulate the lymph in
  amore efficient
  and effective manner. The system typically involves the application of
  various energy forms while imitating the MLT technique.
  Over the last 30 years, various devices have been designed for ALT using mechanical/vibrational, thermal, light, and electrical energy to help encourage proper lymph drainage and flow. These ‹devices typically are pulsed gas ionization systems referenced as VLT (vibrational), ELT (electrical) or PLT (photonic). The XP2 is recognized as one of the most effective devices used in ALT combining multiple energy forms for maximum effect.
</p>
<h3>ADVANTAGES</h3>
<p>
  Although MLT has its place, ALT can stimulate the lymph at a greater depth with less effort in far less time. In addition, ALT can sometimes accomplish what could never be done manually by stimulating beyond the manual superficial.
  The clear advantages to implementing ALT include:
  <b>
    <li>Theraby time dramatically reduced from daily to weekly (approx. 1hr)</li>
    <li>Reduces edema (swelling) and lymphedema of many origins</li>
    <li>Better dissociation of trapped proteins in the interstitium</li>
    <li>Detoxifies bodily tissues and boosts immunity by enhancing pathogen removal</li>
    <li>Relieves chronic joint and muscle pain and aids in sinus drainage</li>
    <li>Aids in tissue regeneration, including burns, scars, stretch marks, wrinkles</li>
    <li>Reduces symptoms of chronic fatigue and fibromyalgia Relieves discomfort from fibrocystic breasts</li>
    <li>Rerouting of lymphatic pathways after lymph node removal</li>
    <li>Less physically demanding of both client and therapist Clients' preference and compliance is greatly enhanced</li>
  </b>
  <br>This work is facilitated byprofessionals including certified
  lymphedema specialists, chiropractors, nurses and
  massage therapists who are specially trained in assisted/
  manual lymphatic drainage. The enhanced stimulation of ALT has benefited thousands of clients worldwide who had
  experienced limited response from MLT.
</p>
<img width="15%" alt="Angular Logo" style="border-radius: 50%;" src="/assets/dawnPic3.jpeg"/>
<p>Dawn Stoner, MSOTR/L, CLT.</p>
